<!-- Variables -->
<p>Vous avez {{age}} ans </p>
<!-- <p> {{getAge()}} </p> -->
<!-- <p> {{setAge(33)}} </p> -->

<!-- Property & Event Binding -->
<button (click)="incrementeAge()" >Incrémenter age</button>
<button (click)="call()" [disabled]="isDoNotDisturb">Passer un appel</button>
<button (click)="changeState()">Changer l'état de ne pas déranger</button>

<!-- ngModel -->
<p>Vous vous appelez {{name}} </p>
<input type="text"[(ngModel)]="name">

<!-- Conditions -->
<div *ngIf="isDoNotDisturb">Vous êtes en mode ne pas déranger</div>
<div *ngIf="!isDoNotDisturb">Vous êtes en mode normal</div>
<div *ngIf="age &lt;= 18">Vous êtes mineur</div>
<div *ngIf="age >= 18">Vous êtes majeur</div>