<!-- Variables -->
<p>Vous avez {{age}} ans </p>
<!-- <p> {{getAge()}} </p> -->
<!-- <p> {{setAge(33)}} </p> -->

<!-- Property & Event Binding -->
<button class="btn btn-danger" (click)="decrementAge()">Décrementer age</button>
<button class="btn btn-success" (click)="incrementAge()">Incrémenter age</button>
<button class="btn btn-primary" (click)="call()" [disabled]="isDoNotDisturb">Passer un appel</button>
<button class="btn btn-light" (click)="changeState()">Changer l'état de ne pas déranger</button>

<!-- ngModel -->
<p>Vous vous appelez {{name}} </p>
<input type="text" [(ngModel)]="name">

<!-- Conditions -->
<div *ngIf="isDoNotDisturb">Vous êtes en mode ne pas déranger</div>
<div *ngIf="!isDoNotDisturb">Vous êtes en mode normal</div>
<div *ngIf="age &lt; 18">Vous êtes mineur</div>
<div *ngIf="age >= 18">Vous êtes majeur</div>

<!-- Boucles -->
<table style="text-align: center;">
  <tr>
    <th>Nom</th>
    <th>Age</th>
  </tr>
  <tr *ngFor="let student of students">
    <td>
      {{student.name}}

    </td>
    <td>
      {{student.age}}
    </td>
  </tr>
</table>

<!-- Pipes -->
<p> Nous sommes le {{date | date:'d/m/Y' }}</p>
<p>Il est {{date | date:'H:m:s' }}</p>